<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <link href="/stylesheet.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
      <title></title>
    </head>
    <header>
      <div class="navbar">
      <div class="dropdown">
        <button class="dropbtn">Trends
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Entertainers/Talent</a>
          <a href="/trendsvr"target="_blank">Virtual Reality</a>
          <a href="/trendslighting"target="_blank">Lighting and Video</a>
          <a href="/trendsstagedesign"target="_blank">Dance Floors</a>
          <a href="#">Photo Concept</a>
          <a href="/trendsbars"target="_blank">Bar and Lounges</a>
          <a href="/trendsactivations"target="_blank">Out of the Box Activations</a>
          <a href="/trendsinteractive"target="_blank">Interactive Crafts</a>
          <a href="/trendsfood"target="_blank">Fun Foods and Beverages</a>
          <a href="/trendsthemes"target="_blank">Themes</a>
          <a href="/trendsdj"target="_blank">DJ Booths</a>
          <a href="/trendsconcepts"target="_blank">Staging Concepts</a>
          <a href="/trendssports"target="_blank">Sports Activities</a>
          <a href="/trendsinflatables"target="_blank">Inflatables</a>
          <a href="/trendsteam"target="_blank">Team Building</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Archive
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Entertainers/Talent</a>
          <a href="/vr">Virtual Reality</a>
          <a href="/lighting">Lighting and Video</a>
          <a href="/stagedesign">Dance Floors</a>
          <a href="#">Photo Concept</a>
          <a href="#">Bar and Lounges</a>
          <a href="/activations">Out of the Box Activations</a>
          <a href="/interactive">Interactive Crafts</a>
          <a href="/food">Fun Foods and Beverages</a>
          <a href="/themes">Themes</a>
          <a href="#"target="_blank">DJ Booths</a>
          <a href="#"target="_blank">Staging Concepts</a>
          <a href="#"target="_blank">Sports Activities</a>
          <a href="#"target="_blank">Inflatables</a>
          <a href="#"target="_blank">Team Building</a>
        </div>
      </div>
      <a href="/comments/comments-add">Feedback Forum</a>
      <a href='/views/partials/maps'> Event Planners </a>
    </div>
    </header>
    </html>
