<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <link href="./stylesheet.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
      <title></title>
    </head>
    <header>
      <div class="navbar">
      <div class="dropdown">
        <button class="dropbtn">Trends
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Entertainers/Talent</a>
          <a href="#"target="_blank">Virtual Reality</a>
          <a href="#"target="_blank">Lighting and Video</a>
          <a href="#"target="_blank">Dance Floors</a>
          <a href="#">Photo Concept</a>
          <a href="#"target="_blank">Bar and Lounges</a>
          <a href="#"target="_blank">Out of the Box Activations</a>
          <a href="#"target="_blank">Interactive Crafts</a>
          <a href="#"target="_blank">Fun Foods and Beverages</a>
          <a href="#"target="_blank">Themes</a>
          <a href="#"target="_blank">DJ Booths</a>
          <a href="#"target="_blank">Staging Concepts</a>
          <a href="#"target="_blank">Sports Activities</a>
          <a href="#"target="_blank">Inflatables</a>
          <a href="#"target="_blank">Team Building</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Archive
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Entertainers/Talent</a>
          <a href="./vr.html">Virtual Reality</a>
          <a href="./lighting.html">Lighting and Video</a>
          <a href="./stagedesign.html">Dance Floors</a>
          <a href="#">Photo Concept</a>
          <a href="#">Bar and Lounges</a>
          <a href="./activations.html">Out of the Box Activations</a>
          <a href="./interactive.html">Interactive Crafts</a>
          <a href="./food.html">Fun Foods and Beverages</a>
          <a href="./themes.html">Themes</a>
          <a href="#"target="_blank">DJ Booths</a>
          <a href="#"target="_blank">Staging Concepts</a>
          <a href="#"target="_blank">Sports Activities</a>
          <a href="#"target="_blank">Inflatables</a>
          <a href="#"target="_blank">Team Building</a>
        </div>
      </div>
    </div>
    </header>
    <body>
      <h1 class="tagline">Leading specialists in
      <span class="change-container">
        <span class="changing">entertainment</span>
        <span class="changing">production</span>
        <span class="changing">activations</span>
        <span class="changing">tech</span>
      </span>
      </h1>
    </body>

    </html>
