<% include ../views/partials/boilerplate.ejs %>
<body>
  <main>
  <h1>Social Media Vending Machine</h1>
  <a href="https://www.trendhunter.com/trends/social-media-vending-machine">Trend Hunter Link</a>
  <h2>Virtual Flight Expereince</h2>
  <a href="https://www.trendhunter.com/trends/stella-artois">Trend Hunter Link</a>
  <h3>LED Ice Sculptures</h3>
  <a href="https://www.bizbash.com/festival-village-presented-acura-acura-marked-seventh-year-presenting-sponsor/gallery/195917#.Woy-cRPwau4">Biz Bash Link</a>
  <h4>Perfume Bar</h4>
  <a href="https://www.bizbash.com/perfume-bar-aromachologys-custom-perfume-bar-allows-guests-create-unique/gallery/210150">Biz Bash Link</a>
  <h4>Gravity-Defying StoryRoom Photo Booth</h4>
  <a href="https://www.bizbash.com/foxtales-gravity-defying-storyroom-rotating-360-degree-visual-experience-8-new/gallery/209421#.WozcERPwau4">Biz Bash Link</a>

</main>
</body>
