<% include ../views/partials/boilerplate %>

<h1>Feedback Forumn</h1>
<header>
<link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
<a href="#" id='one'>   Current Projects
<a href="#" id='two'>   Future Projects
</header>
<link href="./stylesheet.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
<form action="/comments" method="post">
  <label>Name:
    <textarea name="text" id='style2'name="Name" value=""></textarea>
  </label>
  <label>Comment:
    <textarea name="text" id='style' name="comment" value=""></textarea>
  </label>
  <button type="submit" id='button'>Submit</button>
</form>

<h1><%=data.name %></h1>
