<% include ./partials/boilerplate.ejs %>

</div>
  <form action="/comments/<%= oneComment.id%>?_method=Delete" method="post">
    <input type='submit' value='delete comment'/>
  </form>
  <form action="/comments/<%=oneComment.id%>" method="get">
    <button type="submit">Update</button>
  </form>

<% } %>
  <%}%>
