<% include ./partials/boilerplate.ejs %>
<% if (data) { %>
<% for (let oneComment of data) { %>
  <div id='name'>
  <p><%=oneComment.name%></p>
</div>
<div id='comment'>
  <p><%=oneComment.comment%></p>
</div>
  <form action="/comments/<%= oneComment.id%>?_method=Delete" method="post">
    <input type='submit' value='delete comment'/>
  </form>
  <form action="/comments/<%=oneComment.id%>" method="get">
    <button type="submit">Update</button>
  </form>

<% } %>
  <%}%>
