<% include ../views/partials/boilerplate.ejs %>
<body>
  <main>
  <h1>Drink Presentation</h1>
  <a href="https://www.bizbash.com/staffer-dressed-tiered-metal-skirt-held-champagne-cocktails-roamed/gallery/124039">Biz Bash Link</a>
  <h2>Ferris Wheel of Appetizers</h2>
  <a href="https://www.bizbash.com/year-local-caterer-host-city-sponsors-evening-party-second/gallery/189088">Biz Bash Link</a>
  <h3>Experiential Catering Stations</h3>
  <a href="https://www.bizbash.com/experiential-catering-guests-wanting-know-food-house-catering-team/gallery/211480#.Woy7ORPwau4">Biz Bash Link</a>
</body>
