<% include ../views/partials/boilerplate.ejs %>

<body>
  <h1 class="tagline">Leading specialists in
  <span class="change-container">
    <span class="changing">entertainment</span>
    <span class="changing">production</span>
    <span class="changing">activations</span>
    <span class="changing">tech</span>
  </span>
  </h1>
</body>
