<% include ../views/partials/boilerplate.ejs %>
<body>
  <main>
  <h1>"Painting the Walls"/Interactive Painting Expereince</h1>
  <a href="https://www.bizbash.com/urbandaddy-and-stolis-all-white-party-lets-guests-paint-the-walls/new-york/story/24858#.WozJyxPwau4">Biz Bash Link</a>
</main>
</body>
