<% include ../views/partials/boilerplate.ejs %>
<body>
  <main>
  <h1>Project Mapping</h1>
  <a href="https://www.bizbash.com/16-mind-blowing-examples-of-projection-mapping/new-york/story/34990#.WozLdxPwau4">Biz Bash Link</a>
  <h2>Ceiling Projection</h2>
  <a href="https://www.bizbash.com/temple-house-miami-works-united-projection-offer-3-d-projection/gallery/212725">Biz Bash Link</a>
</main>
</body>
