<% include ../views/partials/boilerplate.ejs %>
<body>
  <main>
  <h1>Black-Lit</h1>
<p>Golden geometric light hanging above blacked out dance floor</p>
<a href="https://www.eventmanagerblog.com/17-dance-floors-to-enhance-your-event">Event Manager Link</a>
<h2>Personalized Dancer Floor</h2>
<p>Initials/Name/Etc<p>
<a href="https://www.eventmanagerblog.com/17-dance-floors-to-enhance-your-event/3/">Event Manager Link</a>
</main>
</body>
