<% include ../views/partials/boilerplate.ejs %>
<body>
  <main>
  <h1>Steampunk (Victorian Sci-Fi)</h1>
<p>“Earlier this year Time magazine predicted that steampunk would be the next big trend to take hold of the retail industry”</p>
<a href="https://www.bizbash.com/is-steampunk-the-next-big-event-theme/new-york/story/27067#.WoyxABPwau4">Biz Bash Link</a>
  <h2>Alice in the Wonderland Theme</h2>
  <p>Fantasy meets reality</p>
  <a href="https://www.bizbash.com/33-ideas-for-alice-in-wonderland-themed-events/new-york/story/24368#.WozZlRPwau4">Biz Bash Link</a>
</main>
</body>
