<% include ../views/partials/boilerplate.ejs %>
<body>
  <main>
  <h1>Inflatable Igloos</h1>
<a href="https://www.bizbash.com/bubble-miami-offers-inflatable-igloos-walls-events-florida-6/gallery/112610">Biz Bash Link</a>
<h2>Company that specializes in inflatables-check out their "Trident"</h2>
<a href = "http://www.inflate.us/trident.html"> InflateUSA Link</a>
</main>
</body>
