<% include ../views/partials/boilerplate.ejs %>
<body>
  <main>
  <h1>Northern Lights Project Mapping</h1>
<a href="https://www.bizbash.com/comcast-employee-appreciation-event-aurora-lounge-designed-feel-like-coldest-area/gallery/214294">Biz Bash Link</a>
</main>
</body>
