<% include ../views/partials/boilerplate.ejs %>
<body>
  <main>
  <h1>Hot Air Balloon Rides</h1>
<a href="https://www.bizbash.com/stella-artois-launched-host-beautifully-campaign-los-angeles-picnic-style/gallery/181109">Biz Bash Link</a>
<h2>Chanel Claw Box Game</h2>
<a href="https://www.bizbash.com/ideabooks/4/20">Biz Bash Link</a>
</main>
</body>
