<% include ../views/partials/boilerplate.ejs %>
<body>
  <main>
  <h1>Led Stage</h1>
<a href="https://www.bizbash.com/kickoff-event-new-york-comic-october-clickspring-design-transformed/gallery/212048">Biz Bash Link</a>
<h2>Corporate Conference Simple Stage</h2>
<a href="https://www.bizbash.com/interesting-stage-design-simple-choosing-right-props-decor/gallery/212004">Biz Bash Link</a>
<h3>3D Stage Design</h3>
<a href="https://www.bizbash.com/asu-gsv-summit-held-salt-lake-city-main/gallery/212006">Biz Bash Link</a>
</main>
</body>
